/* styles.css */
.discord-container {
  text-align: center;
  position: relative;
}

.discord-link {
  display: inline-block;
  text-decoration: none;
}

.discord-img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
  position: relative;
}

/* Estilos para o texto Discord */
.h2-discord {
  font-size: var(--fontSize-2);
  line-height: 1.4;
  margin-bottom: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: #fff; /* Cor do texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra no texto */
}