/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn { display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-oxford-blue);
  padding: 10px 12px;
  z-index: 8;
}

.header.active {
  position: fixed;
  animation: slideUP 1s ease forwards;
}

@keyframes slideUP {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header .container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle-btn .line {
  height: 3px;
  width: 10px;
  margin-block: 4px;
  background-color: var(--text-gainsboro);
  border-radius: 8px;
  transition: var(--transition-1);
}

.nav-toggle-btn .line-2 { width: 20px; }

.nav-toggle-btn .line-3 { margin-inline-start: auto; }

.nav-toggle-btn.active .line-2 { transform: rotate(-45deg); }

.nav-toggle-btn.active .line-1 { transform: rotate(45deg) translate(4px, 1.5px); }

.nav-toggle-btn.active .line-3 { transform: rotate(45deg) translate(-3px, -1px); }

.navbar {
  position: absolute;
  top: calc(100% - 1px);
  right: 12px;
  left: 12px;
  background-color: var(--bg-oxford-blue);
  padding: 0 15px;
  clip-path: var(--clip-path-1);
  visibility: hidden;
  transition: clip-path 500ms var(--cubic-out);
}

.navbar.active {
  clip-path: var(--clip-path-2);
  visibility: visible;
}

.navbar-link {
  padding: 12px 25px;
  text-transform: uppercase;
  font-size: var(--fontSize-7);
  font-weight: var(--weight-semiBold);
  color: var(--text-white);
}

.navbar-item { 
    border-block-start: 1px solid var(--border-space-cadet); 
}

.navbar-item:last-child { 
    border-block-end: 1px solid var(--border-space-cadet); 
}

.btn {
  position: relative;
  background-image: var(--gradient-1);
  color: var(--text-white);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-semiBold);
  max-width: max-content;
  min-width: 180px;
  height: 50px;
  display: grid;
  place-items: center;
  padding-inline: 30px;
  clip-path: var(--clip-path-3);
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: var(--top, 50%);
  left: var(--left, 50%);
  width: 250%;
  padding-block-end: 250%;
  background-color: var(--bg-purple);
  transform: translate(-50%, -50%) scale(0);
  border-radius: var(--radius-circle);
  z-index: -1;
  transition: transform var(--transition-2);
}

.btn:is(:hover, :focus-visible)::before {
   transform: translate(-50%, -50%) scale(1);
 }

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container-header { padding-inline: 12px; }

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.title-header { color: var(--text-white); }

.h1-header,
.h3-header { line-height: 1.3; }

.h1-header {
  font-size: var(--fontSize-1);
  font-weight: var(--weight-semiBold);
}

.h2-header {
  font-size: var(--fontSize-2);
  line-height: 1.4;
}

.h3-header { font-size: var(--fontSize-3); }

.section-title-header,
.section-subtitle-header,
.section-text-header { text-align: center; }

.section-subtitle-header {
  color: var(--text-white);
  font-weight: var(--weight-semiBold);
  font-size: var(--fontSize-5);
  text-transform: uppercase;
}

.btn {
  position: relative;
  background-image: var(--gradient-1);
  color: var(--text-white);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-semiBold);
  max-width: max-content;
  min-width: 180px;
  height: 50px;
  display: grid;
  place-items: center;
  padding-inline: 30px;
  clip-path: var(--clip-path-3);
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: var(--top, 50%);
  left: var(--left, 50%);
  width: 250%;
  padding-block-end: 250%;
  background-color: var(--bg-purple);
  transform: translate(-50%, -50%) scale(0);
  border-radius: var(--radius-circle);
  z-index: -1;
  transition: transform var(--transition-2);
}

.btn-header:is(:hover, :focus-visible)::before { transform: translate(-50%, -50%) scale(1); }

.w-100 { width: 100%; }

.section-hero { padding-block: var(--section-spacing); }

.section-title-header {
  margin-block: 10px;
  text-transform: uppercase;
}

.section-title-header .span {
  display: inline;
  color: var(--text-purple);
}

.section-text-header {
  margin-block-end: 40px;
  max-width: 480px;
  margin-inline: auto;
}

.social-wrapper-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-holder-header {
  background-color: var(--bg-purple);
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
}

.img-cover-header {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

 @media (min-width: 575px) {
  .container-header {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    .header .logo img { width: 160px; }
  }
  /**
   * responsive for large than 768px screen
   */
  /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * TYPOGRAPHY
       */
  
      /* font size */
      --fontSize-1: 6.5rem;
      --fontSize-2: 3.2rem;
  
    }
  /**
     * REUSED STYLE
     */
  
    .container-header { max-width: 720px; }
  
    .h1 { line-height: 1; }
  
  /**
   * responsive for large than 992px screen
   */
  
   @media (min-width: 992px) {
   /**
     * CUSTOM PROPERTY
     */
  
    :root {
      
      /**
       * TYPOGRAPHY
       */
  
      /* font size */
      --fontSize-2: 4.5rem;
  
      /**
       * SPACING
       */
  
      --section-spacing: 100px;
  
    }
  
    /**
     * REUSED STYLE
     */
  
    .container-header { max-width: 960px; }
  
    .h2 { line-height: 1.1; }
  
    /**
     * HEADER
     */
  
    .nav-toggle-btn { display: none; }
  
    .navbar,
    .navbar.active {
      all: unset;
      display: block;
    }
  
    .navbar-item,
    .navbar-item:last-child { border: none; }
  
    .navbar-list { display: flex; }
  
    .header .btn {
      display: grid;
      text-align: center;
    }
  
  }
  
  /**
   * responsive for large than 1200px screen
   */
  
   @media (min-width: 1200px) {
  
    /**
     * REUSED STYLE
     */
  
    .container-header { max-width: 1140px; }
  
    .section-text-header { margin-block-end: 60px; }

}
  
  
  
  
  
  
  
  